.shopping-app-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 1.1px solid;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.shopping-list-title {
  width: 100%;
}

.shopping-action-button {
  height: 35px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
}

.shopping-input {
  padding: 4px;
  margin-right: 8px;
  margin-top: 20px;
  height: 35px;
  border-radius: 4px;
  border: 1px
}